body {
    font-family: IRANSans, tahoma, sans-serif !important;
}
.ui.form input{
    font-family: IRANSans !important;
}
.ui.button {
    font-family: IRANSans !important;
}
.ui.modal>.header {
    font-family: IRANSans !important;
}
.Tooltip_new_version{
    font-family: IRANSans !important;
}
.MuiTypography-root {
    font-family: IRANSans !important;
}
.MuiTypography-body1 {
    font-family: IRANSans !important;
}
.css-ahj2mt-MuiTypography-root{
    font-family: IRANSans !important;
}
.MuiPaper-root {
    font-family: IRANSans !important;
}
.MuiPaper-elevation {
    font-family: IRANSans !important;
}
.MuiPaper-rounded {
    font-family: IRANSans !important;
}
.MuiPaper-elevation0 {
    font-family: IRANSans !important;
}
.MuiAlert-root {
    font-family: IRANSans !important;
}
.MuiAlert-colorWarning {
    font-family: IRANSans !important;
}
.MuiAlert-standardWarning {
    font-family: IRANSans !important;
}
.MuiAlert-standard {
    font-family: IRANSans !important;
}
.css-y8tvd1-MuiPaper-root-MuiAlert-root{
    font-family: IRANSans !important;
}

.MuiButtonBase-root {
    font-family: IRANSans !important;
}